@page
@model IndexModel
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@{
    ViewData["Title"] = "Welcome to .NET";
    
}

<div class="text-center">
    <h1>Adams simple test .NET8 App</h1>
</div>

